<p id="notice"><%= notice %></p>

<p>
  <strong>Word 1:</strong>
  <%= @assignment.word_1 %>
</p>

<p>
  <strong>Word 2:</strong>
  <%= @assignment.word_2 %>
</p>

<p>
  <strong>Response:</strong>
  <%= @assignment.response %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
