<!DOCTYPE html>
<html>
  <head>
    <title>WordNerd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div align="center">
        <%= image_tag("blogLogo.png", class: "logo") %>
        <%= yield %>
    </div>
  </body>
</html>
